VITE_GROQ_API_KEY=YOUR_GROQ_API_KEY_HERE
VITE_GROQ_API_KEY_SECONDARY=YOUR_SECONDARY_GROQ_API_KEY_HERE
VITE_LICENSE_SALT=PRECIOS_ALDIA_BODEGA_2026

VITE_SUPABASE_URL=https://jjbzevntreoxpuofgkyi.supabase.co
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY_HERE

# Supabase Cloud (Sync)
VITE_SUPABASE_CLOUD_URL=https://fgzwmwrugerptfqfrsjd.supabase.co
VITE_SUPABASE_CLOUD_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZnendtd3J1Z2VycHRmcWZyc2pkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3MjA2ODgsImV4cCI6MjA5MDI5NjY4OH0.vi4iEyxWL7vmrb5OLe0mwQ0ozwpyNMYFqSTJzpnT9SM

# Tasas de Cambio
VITE_EXCHANGERATE_KEY=F1a3af26247a97a33ee5ad90
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxT9sKz_XWRWuQx_XP-BJ33T0hoAgJsLwhZA00v6nPt4Ij4jRjq-90mDGLVCsS6FXwW9Q/exec?token=Lvbp1994
